body#bd {
	color: #546376;
	background: url(../../images/blue/body-bg.jpg) no-repeat center top #02152E;
}

/* Normal link */
a {
	color: #9EA3C1;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #9EA3C1;
	text-decoration: underline;
}

/* Title text */
.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4 {
	color: #9EA3C1;
}

/* form */
.inputbox {
	border: 1px solid #2D4668;
	background: #1C3250;
	color: #546376;
}

.button {
	border: 1px solid #2D4668;
	background: #02152E;
	color: #546376;
}

ul li {
	background: url(../../images/blue/bullet.gif) no-repeat 20px 8px;
}

/*article image*/
.img_caption p {
	color: #546376;
}

.img_caption img {
 	background: #1C3250;
	border: 1px solid #2D4668;
}

.img-border {
	background: #1C3250;
	border: 1px solid #2D4668;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
.article_separator, .article_seperator {
	background: url(../../images/blue/dot.gif) repeat-x center;
}

/* content tables */
.sectiontableheader {
	color: #9EA3C1;
}

.sectiontableheader a,
.sectiontableheader a:hover,
.sectiontableheader a:active,
.sectiontableheader a:focus {
	color: #9EA3C1;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	border-bottom: 1px solid #2D4668;
}


h1.componentheading, .componentheading {
	border-bottom: 1px solid #33456B;
}

.blog_more {
	background: url(../../images/blue/dot.gif) repeat-x top;
}

table.pollstableborder tr.sectiontableentry1 td {
	background: #1C3250;
}

/*page navigation*/
ul.pagination {
	color: #546376;
}

ul.pagination a {
	color: #546376;
	border: 1px solid #546376;
}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
	color: #9EA3C1;
}

/* META
--------------------------------------------------------- */
.article-meta {
	color: #546376;
}

.modifydate {
	color: #546376;
}

.article-section a {
	color: #9EA3C1;
}

.article-category a {
	color: #9EA3C1;
}

.createdate {
	background: url(../../images/blue/vline.gif) no-repeat right center;
}

/* COLLAPSIBLE LAYOUT
--------------------------------------------------------- */
#ja-containerwrap,
#ja-containerwrap-c,
#ja-containerwrap-cm,
#ja-containerwrap-f,
#ja-containerwrap-m {
	background: url(../../images/blue/cw-bg.jpg) no-repeat center bottom;
}

/* MODULE
--------------------------------------------------------- */
div.moduletable h3,
div.moduletable_default h3,
div.moduletable_menu h3,
div.moduletable_text h3,
div.moduletable_hilite h3,
div.moduletable_tabs h3 {
	border-bottom: 1px solid #33456B;
	color: #536279;
}

/* breadcrumbs */
#ja-pathway {
	border-bottom: 1px solid #33456B;
	color: #546376;
}

/* MAIN NAVIGATION
--------------------------------------------------------- */
#ja-mainnavwrap {
	border-top: 1px solid #33456B;
	border-bottom: 1px solid #33456B;
}

#ja-mainnav span.menu-desc {
	color: #546376;
}

/* Subnav*/
#ja-subnav li {
	border-bottom: 1px solid #33456B;
}

#ja-subnav a {
	color: #546376;
	background: url(../../images/blue/bullet1.gif) no-repeat left center;
}

#ja-subnav a:hover,
#ja-subnav a:active,
#ja-subnav a:focus {
	color: #9EA3C1;
	background: url(../../images/blue/bullet.gif) no-repeat left center;
}

#ja-subnav li.active a {
	color: #9EA3C1;
}

/* Default Joomla! Menu */
ul.menu li {
	border-bottom: 1px solid #33456B;
}

ul.menu li a {
	background: url(../../images/blue/bullet1.gif) no-repeat left center;
	color: #546376;
}

ul.menu li a:hover,
ul.menu li a:active,
ul.menu li a:focus {
	background: url(../../images/blue/bullet.gif) no-repeat left center;
	color: #9EA3C1;
}

ul.menu li.active a {
	color: #9EA3C1;
}

ul.menu li li a {
	color: #546376 !important;
	background: url(../../images/blue/bullet1.gif) no-repeat 10px 11px;
}

ul.menu li li a:hover,
ul.menu li li a:active,
ul.menu li li a:focus {
	color: #9EA3C1 !important;
	background: url(../../images/blue/bullet.gif) no-repeat 10px 11px;
}

ul.menu li li.active a {
	color: #9EA3C1 !important;
}

ul.menu li li li a {
	color: #546376 !important;
}

/* Bottom spotlight */
#ja-botslwrap {
	background: #09182E;
	border-top: 1px solid #1C2D43;
}

#ja-botsl {
	background: url(../../images/blue/botsl-bg.gif) no-repeat center top;
}

.narrow #ja-botsl {
	background: url(../../images/blue/botsl-bg-n.gif) no-repeat center top;
}

#ja-botsl .ja-box-left div.moduletable {
	background: url(../../images/blue/botsl-sep.gif) no-repeat right top;
}


#ja-botsl .ja-box-center div.moduletable {
	background: url(../../images/blue/botsl-sep.gif) no-repeat right top;
}

/* FOOTER
--------------------------------------------------------- */
#ja-footerwrap {
	background: #0B1334;
	border-top: 1px solid #1C2D43;
}

#ja-footer {
	color: #546376;
}

#ja-footer a {
	color: #9EA3C1;
}

#ja-footer a:hover, #ja-footer a:active, #ja-footer a:focus {
	color: #9EA3C1;
}

/*JA news*/
#jahl-headlineanchor {
	border-bottom: 1px solid #2D4668;
	color: #536279;
}

div.ja-newscat {
	border-top: 1px solid #2D4668;
}

div.jazin-section {
	border-bottom: 1px solid #2D4668;
	color: #546376;
}

div.jazin-section a {
	color: #9EA3C1;
}

.jazin-more {
	color: #546376;
}

.jazin-content img {
	background: #1C3250;
	border: 1px solid #2D4668;
}

#jahl-newsitem img {
 	background: #1C3250;
	border: 1px solid #2D4668;
}

.jahl-newscontrol {
	background: url(../../images/blue/control-bg.gif) no-repeat;
}

/* JA loginform*/
#login-wrap form input.button {
	color: #2D4668;
}

#login-wrap form #mod_login_username,
#login-wrap form #mod_login_password {
	color: #546376;
}

.ja-login-links a {
	background: url(../../images/blue/bullet.gif) no-repeat left center;
}

.ja-login-links a:hover, .ja-login-links a:active, .ja-login-links a:focus {
	color: #9EA3C1;
}

/*heighslide*/
.highslide img {
	background: #1C3250;
	border: 1px solid #2D4668;
}

.highslide:hover img {
	border: 1px solid #2D4668;
}

/*ja bulletin*/
ul.ja-bullettin li {
	border-bottom: 1px solid #1C2D43 !important;
}

ul.ja-bullettin span {
	color: #546376 !important;
}

/*innerdiv*/
div.ja-innerdiv {
	border-bottom: 1px solid #1C2D43;
}

/*jatabs*/
.uvite .ja-tabs-title-top ul.ja-tabs-title li h3 {
	color: #546376;
}

.uvite .ja-tabs-title-top ul li.active h3,
.uvite .ja-tabs-title-top ul li.firstactive h3,
.uvite .ja-tabs-title-top ul li.lastactive h3 {
	color: #9EA3C1;
}

/*typography*/
pre, .code {
	border-left: 5px solid #546376;
	color: #9EA3C1;
}

.dropcap {
	color: #9EA3C1;
}

ul.checklist li {
	background: url(../../images/blue/icon-checklist.gif) no-repeat 0 6px !important;
}

ul.arrow li {
	background: url(../../images/blue/icon-arrow.gif) no-repeat 3px 4px;
}

p.stickynote {
	background: url(../../images/sticky.png) no-repeat left top #1C3250;
	border: 1px solid #33456B;
}

p.download {
	background: url(../../images/download.png) no-repeat top left #1C3250;
	border: 1px solid #33456B;
}

div.bubble1 div {
	background: url(../../images/blue/bub1-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble1 div div {
	background: url(../../images/blue/bub1-bl.gif) no-repeat bottom left;
}

div.bubble1 div div div {
	background: url(../../images/blue/bub1-tr.gif) no-repeat top right;
}

div.bubble1 div div div div {
	background: url(../../images/blue/bub1-tl.gif) no-repeat top left;
}

div.bubble1 div div div div div {
	margin: 0;
	padding: 10px 15px 20px;
	width: auto;
}

div.bubble2 div {
	background: url(../../images/blue/bub2-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble2 div div {
	background: url(../../images/blue/bub2-bl.gif) no-repeat bottom left;
}

div.bubble2 div div div {
	background: url(../../images/blue/bub2-tr.gif) no-repeat top right;
}

div.bubble2 div div div div {
	background: url(../../images/blue/bub2-tl.gif) no-repeat top left;
}

div.bubble2 div div div div div {
	margin: 0;
	padding: 10px 15px 25px;
	width: auto;
}

div.bubble3 div {
	background: url(../../images/blue/bub3-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble3 div div {
	background: url(../../images/blue/bub3-bl.gif) no-repeat bottom left;
}

div.bubble3 div div div {
	background: url(../../images/blue/bub3-tr.gif) no-repeat top right;
}

div.bubble3 div div div div {
	background: url(../../images/blue/bub3-tl.gif) no-repeat top left;
}

div.bubble4 div {
	background: url(../../images/blue/bub4-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble4 div div {
	background: url(../../images/blue/bub4-bl.gif) no-repeat bottom left;
}

div.bubble4 div div div {
	background: url(../../images/blue/bub4-tr.gif) no-repeat top right;
}

div.bubble4 div div div div {
	background: url(../../images/blue/bub4-tl.gif) no-repeat top left;
}

.legend-title {
	background: #02152E;
}

.legend {
	border: 1px solid #33456B;
}

/*Slit Menu*/
#ja-splitmenu a:hover span.menu-desc,
#ja-splitmenu a:active span.menu-desc,
#ja-splitmenu a:focus span.menu-desc {
	color: #9EA3C1;
}

#ja-splitmenu li.active a span.menu-desc,
#ja-splitmenu li.active a:hover span.menu-desc,
#ja-splitmenu li.active a:active span.menu-desc,
#ja-splitmenu li.active a:focus span.menu-desc {
	color: #9EA3C1;
}

/*Slit + Moo Menu*/
#ja-cssmenu li:hover a span.menu-desc,
#ja-cssmenu li.sfhover a span.menu-desc,
#ja-cssmenu li.havechildsfhover a span.menu-desc,
#ja-cssmenu li.havechild-activesfhover a span.menu-desc {
	color: #9EA3C1;
}

#ja-cssmenu li a.active span.menu-desc,
#ja-cssmenu li a.active:hover span.menu-desc,
#ja-cssmenu li a.active:active span.menu-desc,
#ja-cssmenu li a.active:focus span.menu-desc {
	color: #9EA3C1;
}

#ja-cssmenu li ul {
	border: 1px solid #33456B;
	background: url(../../images/blue/trans-bg.png);
}

#ja-cssmenu li ul ul {
	border: 1px solid #33456B;
}

#ja-cssmenu li ul li {
	border-bottom: 1px solid #33456B;
}

#ja-cssmenu li ul a {
	color: #9EA3C1 !important;
}


#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background: #33456B;
}