body#bd {
	text-align: center;
}

#ja-mainnav,
#ja-header,
#ja-topsl,
#ja-botsl,
#ja-container,
#ja-footer {
	text-align: left;
}

.ja-innerpad {
	width: 100%;
}

.jahl-newscontrol{
	background:transparent url(../images/control-bg.gif) no-repeat scroll 0 0;
	display:block;
	height:16px;
	position:absolute;
	right:0;
	top:12px;
	width:92px;
}

.jahl-newscontrol ul {
	float:left;
	margin:0;
	padding:4px 4px 0 2px;
}

#ja-footerwrap {
	width: 100%;
}